@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
    background: url("background.jpg");
    color: rgb(2, 165, 38);
    font-weight: bold;
    font-size: 20px;
    font-family: "Indie Flower";
}

p, ol {
    background: white;
    display: table;
}

.main-titles {
    background: rgb(110, 105, 105);
    text-align: center;
}

.page-title {
    color: red;
}

#band-photo {
    height: 400px;
    width: 500px;
    display: block;
    margin: auto;
}

.description p::before {
    content:"- "
}

.navbar {
    text-align: center;
    display: flex;
    align-content: stretch;
    justify-content: center;
    background: rgb(128, 0, 128);
}

.navbar a {
    border: 2px dotted rgb(0, 0, 0);
    padding: 10px;
    margin: 15px 10px 10px 10px;
    color: rgb(187, 255, 0);
}

.member-name {
    background: black;
    display: table;
}